
.card{
    width: 70%;
    display: block;
    margin: 30px auto;
    margin-bottom: 0;
}

.heading{
    font-size: 50px;
}

@media only screen and (max-width: 600px){
    .card{
        width: 95%;
    }
    .heading{
        font-size: 40px;
    }
    
}