*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
  }
  .main{
    height: 100vh;
    width: 100%;
    background-color: #2C2B31;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
  
  .image-container{
    height: 60vh;
  }
  .image-container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
  
  }
  a{
    color: #94b3f0d0;
  }
  p{
    color: #73747A;
  }
  
  h1{
    font-size: 3rem;
    color: #fff;
  }
  .button-link {
    display: flex;
  }
  .button-link > span{
    display: flex;
    align-items: center;
  }
  .button-link > span > img{
    width: 70px;
    height: 30px;
    object-fit: contain;
  }
  button{
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  .button-group{
    display: flex;
    gap: 10px;
  }
  .button-group>button{
    background-color: #2A2E37;
    border: none;
    border-radius: 30px;
    color: #73747A;
    font-weight: 500;
  }
  .box{
    width: 45%;
    /* background-color: blue; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 50px; */
  }
  .card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
    
  }
  .paly-button{
    width: 40px;
    border-radius: 50%;
    margin-right: 25px;
  }
  .group :first-child{
  background-color: #94B2F0;
  border: none;
  border-radius: 30px;
  }
  .group :last-child{
    background: transparent;
    color: #fff;
    border: 1px solid #9599a3;
    border-radius: 30px;
  }
  
  .group{
    display: flex;
    align-items: center;
  
  }
  
  .right-section{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .right-section > div{
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid #fff;
  }
  .right-section > div > h4{
    color: #82a0dcbd;
  }
  
  .wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
  }
  
  .card > p{
    width: 70%;
  }
  
  