.feedback-page{
    background-color: black;
}
.feedback-container{
    background-image: url(img-bg.avif);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content:center;
    height:100vh;
}
.feed-header{
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-left: 40px;
}
.feedback-form{ 
    width: 600px;
    border: 4px solid white; 
    justify-content: center;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 60px;
    border-radius: 5px;
}
.customer-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.customer-name{
    color: white;
    font-size: 20px;
}
.customer-name-input{
    width: 400px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    /* color: black; */
}
.customer-email-info{
    margin-top: 10px;
}
.customer-email{
    color: white;
    font-size: 20px;
}
.customer-email-input{
    width: 400px;
    padding: 10px;
    margin-top: 10px; 
    border-radius: 7px;
    /* color: black; */
}
.customer-rating{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
}
.service{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}
.service-rating{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.experinece{
    text-align: center;
    margin-top: 20px; 
    color: white;
    font-size: 20px;
}
.input-experience{
    width: 400px;
    padding: 10px;
    margin-top: 10px; 
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    /* color: black; */
}
.experience-rating{
    display: flex;
    justify-content: center;
    margin-left: 20px;

}
.rating{
    margin-top: 10px;
    text-align: center;
    color: white;
}

.img-star{
    width: 40px;
    margin: 0 5px;
    cursor: pointer;
}
.start-img-container{
    display: flex;
    justify-content: center;
}
.tittle{
    text-align: center;
    color: white;
    margin-top: 10px;
}
.suggestion-input{
    width: 400px;
    height: 100px;
    align-items: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    color: black;
}
.Feedback-btn{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .feedback-form{
        width: 400px;
    }
}