.imgslider{
    width:550px ;
    height: 600px;
    background-image: url(img-4.webp);
    background-size: 100% 100%;
    animation: changeImage 30s linear infinite;
}

.heading{
    text-align: center;
     margin-top:10px ;
    font-size: 50px;
    margin-bottom: 20px;
    color: #0d6efd;
    font-weight: bold;
    
}

.our-mission{
    margin-top: 100px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
   
    box-shadow: 2px 2px 10px  gray;

}
.card1{
    height: 600px;
    object-fit: cover;
}
.fs-f{
    font-size: 100px;
}
.fs-t{
    font-size: 40px;
    margin: 0 30px;
    margin-top: 120px;
}

.github{
    height:20px ;
    width: 20px;
    margin: 0 5px;
}

.Team-img{
    
    height:300px;
    width: auto;
    padding: 2px;
   
}
.card:hover{
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}
   

@keyframes changeImage{
    0%{
        background-image: url(img-5.jpg);
    }

    25%{
        background-image: url(img-1.jpg);
    }

    50%{
        background-image: url(img-2.jpg);
    }

    75%{
        background-image: url(img-3.jpg);
    }

}

@media only screen and (max-width: 600px){
    .card1{
        height: 400px;
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    .fs-f{
        font-size: 50px;
    }
    .fs-t{
        font-size: 20px;
        margin: 0 30px;
        margin-top: 120px;
    }
    .Team-img{
    
        height:300px;
        /* width: 280px; */
        padding: 5px;
       
    }

    

}