<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us </title>
    <link rel="stylesheet" href="./Aboutus.css"/>
</head>
<body>
    <h1 class="heading">About Us Page</h1>
    <div class="timeline">

        <div class="container left-container">
            <img src="../images/google.png"/>
            <div class="text-box">
               <h2>Alphabet Inc.</h2> 
               <small>2022-2023</small>
               <p > sucess of every website depend on search engine optimisation and digital marking startergy . If you are on first page of all major search.....</p>
               <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <img src="../images/flipkart.png"/>
            <div class="text-box">
               <h2>Amazon Inc.</h2> 
               <small>2022-2023</small>
               <p > sucess of every website depend on search engine optimisation and digital marking startergy . If you are on first page of all major search.....</p>
               <span class="right-container-arrow"></span>
            </div>
        </div>

        <div class="container left-container">
            <img src="../images/tesla.png"/>
            <div class="text-box">
               <h2>Tesla Inc.</h2> 
               <small>2022-2023</small>
               <p > sucess of every website depend on search engine optimisation and digital marking startergy . If you are on first page of all major search.....</p>
               <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <img src="../images/amazon.png"/>
            <div class="text-box">
               <h2>toyota Inc.</h2> 
               <small>2022-2023</small>
               <p > sucess of every website depend on search engine optimisation and digital marking startergy . If you are on first page of all major search.....</p>
               <span class="right-container-arrow"></span>
            </div>
        </div>

        
        <div class="container left-container">
            <img src="../images/tesla.png"/>
            <div class="text-box">
               <h2>Tesla Inc.</h2> 
               <small>2022-2023</small>
               <p > sucess of every website depend on search engine optimisation and digital marking startergy . If you are on first page of all major search.....</p>
               <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <img src="../images/amazon.png"/>
            <div class="text-box">
               <h2>toyota Inc.</h2> 
               <small>2022-2023</small>
               <p > sucess of every website depend on search engine optimisation and digital marking startergy . If you are on first page of all major search.....</p>
               <span class="right-container-arrow"></span>
            </div>
        </div>

        <div class="container left-container">
            <img src="../images/tesla.png"/>
            <div class="text-box">
               <h2>Tesla Inc.</h2> 
               <small>2022-2023</small>
               <p > sucess of every website depend on search engine optimisation and digital marking startergy . If you are on first page of all major search.....</p>
               <span class="left-container-arrow"></span>
            </div>
        </div>

    </div>
    
</body>
</html>