.custom-carousel {
    background-color: black;
  }
  
  .text-purple {
    color: purple;
  }
  
  .text-black {
    color: black;
  }
  .carousel-image {
    height: auto;
    max-height: 650px; /* Adjust this value as needed */
  }
  